* {
    margin: 0px;
    box-sizing: border-box;
}

.main {
    max-width: 1240px;
    margin: auto;
    width: 100%;
    height: 80px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main img {
    margin-left: 25px;
}

.menu {
    max-width: 1200px;
    gap: 15px;
    display: flex;

}

.right {
    gap:15px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: white;
    height: 45px;
    border: none;
    background-color: green;
margin-left: 15px;
}
.right img{
    margin-top: 0px;
}

.burger {
    display: none;
}
.start{
    max-width: 1240px;
    margin: auto;
    background-color: rgba(251, 251, 251, 1);
    margin-top: 50px;
    width: 100%;
    height: 510px;
    display: flex;
    /* background-color: blueviolet; */

}
.des{
    width: 500px;
    height: 100%;
    /* background-color: lightgrey; */
}
.des h1{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    font-size: 65px;
}
.des p{
    margin-top: 20px;
    font-size: 25px;
}
.companies{
    max-width: 1240px;
    margin: auto;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-around;
}
.immigration{
    max-width: 1240px;
    margin: auto;
    width: 100%;
    height: 1050px;
    /* background-color: green; */
    margin-top: 40px;
}
.first{
    margin-top: 15px;
    margin-left: 15px;
    width: 420px;
    /* background-color: yellow; */
}
.first h1{
    text-align: center;
    font-family: 'Roboto',sans-serif;
}
.first p{
    margin-top: 15px;
    margin-left: 15px;
}
.service{
    /* background-color: lightgray; */
    margin-left: 45px;
    margin-top: 45px;
    width: 900px;
    display: flex;
}
.fast h2{
    margin-left: 10px;
    font-family: 'Roboto',sans-serif;
    /* text-align: center; */

}
.fast p{
    margin-left: 15px;
    margin-top: 15px;
}
.frct{
    height: 250px;
    margin-left: 50px;
}
.control{
    /* background-color: aqua; */
    margin-left: 25px;
    margin-top: 25px;
    width: 900px;
    display: flex;
}
.control img{
    height: 300px;
}
.control h1{
    margin-left: 50px;
}
.control p{
    margin-left: 50px;
}
.full{
    width: 100%;
}
.full h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
}
.full p{
    margin-left: 10px;
    font-family: 'Inter',sans-serif;
}

.relocated{
    max-width: 1240px;
    margin: auto;
    margin-top: 80px;
    width:100%;
    /* display: flex; */
    /* background-color: aqua; */
}
.relocated h1{
    margin-left: 20%
}
.relocated p{
    margin-left: 20%;
}
.emps{
    margin-top: 15px;
    display: flex;
    width: 100%;
    height: 300px;
    /* background-color: blueviolet; */
}
.p1{
    margin-left: 25px;
    width: 300px;
    height: 100%;
    /* background-color: yellow; */
}
.p1 p{
    font-family: 'Roboto',sans-serif;
    margin-left: 80px;
}
.hg{
    margin-left: -40px;
}
.case{
    max-width: 1240px;
    margin: auto;
    margin-top: 40px;
    width: 100%;
    height: 450px;
    /* background-color: brown; */
}
.case h1,p{
    margin-top: 15px;
    margin-left: 100px;
}
.pound{
    gap: 20px;
    display: flex;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}
.pr1{
    width: 35%;
    margin-left: 10px;
    height: 100%;
    background-color:rgba(255, 255, 255, 1);
}
.txt{
    margin-left: 15px;
    margin-top: 25px;
    display: flex;
}
.txt p{
    margin-left: 10px;
}
.imp{
    margin-top: 40px;
    margin-left: 5px;
}
.chs{
    padding: 30px;
    margin-top: 5px;
    margin-left: 15px;
    width: 120px;
    height: 40px;
    background-color: green;
    color: white;
    border:none;
    border-radius: 15px;
}
.urel{
    max-width: 1240px;
    margin: auto;
    width: 100%;
    height: 600px;
    /* background-color: cyan; */
    margin-top: 200px;
}
.urel h1{
    font-family: 'Roboto',sans-serif;
}
.urel p{
    margin-left: 5px;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.tags{
    
    gap: 10px;
    display: flex;
}
.tags p{
    border-radius: 10px;
padding: 8px;
    background-color: lightgrey;
}
.urel img{
    margin-left: 15px;
    margin-top: 25px;
}
.testimonals{
    max-width: 1240px;
    margin: auto;
    display: flex;
    max-width: 1240px;
    margin: auto;
    width: 100%;
    height:400px;
    background-color:rgba(255, 246, 239, 1); 
}
.card-person{
    border-radius: 12px;
    width: 250px;
    height: 90%;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 15px;
    margin-top: 15px;
}
.card-person img{
    margin-left: 25px;
    margin-top: 35px;
}
.card-person h3{
    text-align: center;
    font-family: 'Roboto',sans-serif;
}
.com{
    margin-left: 15pz;
    /* background-color: green; */
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ht1{
    border-radius: 15px;
    margin-top: 15px;
    width: 102px;
    height: 60%;
    background-color: lightgrey;

}
.yout{
    max-width: 1240px;
    margin: auto;
    margin-left: 15px;
    font-family: 'Roboto',sans-serif;
}
.ht1 p{
    margin-left: 35px;
}
.next{
    margin-left: 150px;
    margin-top: 150px;
    height: 50px;
    /* background-color: green; */
    padding: 20px;
    border-radius: 50%;
    background-color: lightgrey;
}
.next:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}
.faq{
    max-width: 1240px;
    margin: auto;
    width: 100%;
    margin-top: 40px;
}
.faq-desktop{
    background:#f3f3f3;
    padding:40px;
}

.faq-desktop h2{
    margin-bottom:20px;
}

.faq-desktop details{
    border-bottom:1px solid #ddd;
    padding:15px 0;
}

.faq-desktop summary{
    cursor:pointer;
    font-size:16px;
}

.faq-desktop summary.active{
    color:#3aaa35;
}

.faq-text{
    margin-top:10px;
    color:#555;
}
.faq h1{
    margin-left: 15px;
    font-family: 'Arial',sans-serif;
}
.que{
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px;
   border:1px solid lightgrey;
    margin-top: 20px;
    margin-left: 20px;
    width: 98%;
    display: flex;
}
.dinn{
    margin-top: 15px;
    margin-left: 20px;
    width: 90%;
    display: flex;
    height: 220px;
background-color: rgba(255, 255, 255, 1);
box-shadow: 0px 0px 5px 2px;

}
.d1{
    width: 500px;
    height: 100%;
    /* background-color: yellow; */
}
.znk{
    margin-left: 500px;
   font-size: 25px;
   color: green;
}

.footer{
    max-width: 1240px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    width: 100%;
    height: 200px;
    background-color:rgba(42, 48, 52, 1);
}
.log{
    margin-top: 45px;
    margin-left: 25px;
}
.menn{
    margin-top: 20px;
    color: white;
}
.addres{
    width: 250px;
    margin-top: 20px;
}
.addres h1{
    color: white;
    text-align: center;
}
.addres p{
    color: white;
}
.follow{
    margin-left: 80px;
    margin-top: 25px;
    color: white;
}
@media(max-width:500px) {
   .footer{
    height: 600px;
   }
    .pr1{

        padding: 10%;
        width: 90%;
    }
    .dinn{
        display: none;
        background-color: green;
        /* width: 100%; */
    }
    br{
        display: none;
    }
    .d1{
        background-color: red;
        width: 100%;
    }
    .emps{
        background-color:rgba(255, 187, 138, 1) ;
    }
    .znk{
        height: 20px;
    }
    .urel img{
        width: 100%;
    }
    .tags{
        width: 100%;
    }
    .next{
        display: none;
    }
    .yout{
        margin-top: 30px;
    }
    .testimonals{
        height: 750px;
        width: 100%;
        margin-top: 50px;
        flex-direction: column;
    }
    .card-person{
        margin-left: 120px;
    }
    .pound{
        flex-direction: column;
    }
    .urel{
        width: 100%;
        margin-top: 1000px;
        background-color: rgba(255, 187, 138, 1) ; ;
    }
.relocated{
    height: 95%;
    background-color: rgba(255, 187, 138, 1);
}
.case{
    background-color:rgba(255, 187, 138, 1); ;
}
.p1 p{
    margin-top: -2px;
}
.footer{
    flex-direction: column;
}
.p2 p{
margin-top: -8px;
}
.prog{
    display: none;
}
.urel{
    width: 95%;
}
.p1 img{
    margin-left: 10px;
    width: 100%;
}
    .main {
        padding: 50px 0px 0px;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    .case{
        margin-top: 55px;
    }
.pr2{
    margin-top: 100px;
}
    .main img {
        margin-left: 0px;
        width: 35%;
        height: 60px;
    }

    .burger {
        font-size: 55px;
        display: block;
    margin-left: 90px;
    }
    .start{
        margin-top: 360px;
        flex-direction: column-reverse;
    }
    .des{
        height: 110%;
        margin-top: 50px;
        background-color: rgba(255, 187, 138, 1);
    }
    .ioi{
        flex-direction: column;
    }
    .companies{
        background-color:rgba(255, 187, 138, 1);
        overflow: scroll;
    }
    .companies img{
        gap:8px;
        height: 120px;
    }
    .kok{
        margin-top: 50px;
    }
    .immigration{
        width: 100%;
        flex-direction: column-reverse;
    }
    .service{
        margin-left: 20px;
background-color:rgba(255, 187, 138, 1); 
        flex-direction: column-reverse;
        width: 95%;
    }
    .frct{
        width: 100%;
        margin-left: 0px !important;
    }
        .fast h2,p{
    margin-left: 80px;
    }
    .fast p{
        margin-left: 80px;
    }
    .control{
    flex-direction: column;
    width: 98%;
    background-color: rgba(255, 187, 138, 1); 
}
.control img{
    margin-left: -15px;
    width: 100%;
}

.cnt{
    width: 100%;
}
.burger{
    margin-left: 0px;
}
.menu{
    display: none;
    background-color: #3aaa35;
    width: 90%;
    gap:0px;
}
.right{
    display: none;
    margin-left: -100px;
}
.fast{
    width: 100%;
}
.fast p{
    margin-left: -25px;
}
.right{
    margin-left: 15px;

}
.relocated{
    margin-top: 400px;
    flex-direction:column;
    
}
.emps{
    overflow: scroll;
    width: 100%;
    margin-top: 100px;
}

.p1{
    width:100% !important; 
   margin-left: 0px;
}
.p1 p{
    margin-left: 50px;
}
.p2{
    /* display: none; */
    margin-left: 50px;
}
.p3{
    margin-left: 45px;
}

    }



    

