*{
    margin: 0px;
}
.main{
    width: 100%;
    height: 80px;
    /* background-color: yellow; */
    display: flex;
align-items: center;
justify-content: space-evenly;
}
.main img{
    margin-left: 25px;
}
.menu {
    gap: 25px;
    display: flex;

}
.right{
    border-radius: 15px;
color: white;
    height: 45px;
    border: none;
    background-color: green;
}
